body {
  background: url('congruent_pentagon.png');
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lobster', cursive;
}

.available-price {
  margin: 0px;
  font-weight: 400;
  color: #72c13d;
  text-transform: uppercase;
}

.sale-price {
  font-family: Droid Serif;
  font-size: 28px;
  font-weight: 900;
  color: #ee4546;
}

.thumbnail{
  width: 18em;
  height: 18em;
  overflow: auto;
}

.show_part_product {
  border-left: 3px solid #eb8f73;
  padding: 5px 0 5px 30px;
  margin: 15px 0;
}

.available {
  margin: 0px;
  font-weight: 400;
  color: #72c13d;
  text-transform: uppercase;
}

.rte {
  font-size: 14px;
  color: #787878;
  font-family: Droid Serif;
  font-weight: 300;
  line-height: 20px;
}

.edit-controllers {
  display: inline-block;
}
